.page{
    .page-header{
        margin: 0 0 12px;
        border-bottom: 1px dotted $taskapp-green-color;
        padding-bottom: 16px;
        padding-top: 7px;
        
        .page-title{
            display: inline-block;
        }

        .page-buttons {
            float: right;
        }
    }
    
    .page-body{

    }
}